/*
Team DMRT:  Daniel Garrett, Matthew Fritz, Ruth Woodcock, Trevor McLam
CS 320 Software Engineering, Fall 2019
    Final Project: DnD Character Management System, December 13, 2019

OUTSIDE SOURCES FOR HTML, CSS, AND JAVASCRIPT:
https://stackoverflow.com/questions/34250019/footer-semantic-ui
https://stackoverflow.com/questions/36310296/looping-through-images-array-and-showing-them-to-html-page

*/
/*MODIFICATIONS TO SEMANTIC UI STYLES*/
.ui.container {
    width: 100%;
    height: auto;
    /*border: 2px solid aqua;*/
}
.ui.menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
    opacity: 75%;
}
.ui.animated.button {
    background-color: #000000;
    opacity: 100%;
    color: #8ac04e;
    /*color: lime;*/
}
.ui.massive.button {
    padding: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    background-color: #8ac04e; /*light green sampled from dragon image*/
    opacity: 85%;
    color: black;
}
.ui.labeled.input {
    padding: 5px;
}
/*ADDITIONAL PROJECT STYLES - SOME ARE FROM SAMPLE CODE PROVIDED BY INSTRUCTOR*/
/*FONT STYLES AND COLORS*/
* {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Muli', sans-serif;
}
p {
    color: #ffffff;
}
p.dark {
    color: #000000;
}
.title_font {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
.subtitle_font {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: #ffffff;
}

/*BACKGROUND COLORS AND IMAGES*/
body {
    background-color: #000000;
}
.image_background {
    background: url("Images/DnD_Starter_Art.jpg") !important; /*no-repeat center center fixed;*/
    background-size: cover !important;;
    height: 100%;
}
.text_background {
    background-color: #000000;
    opacity: 75%;
}
.dice_roller {
    background-color: lightgrey;
    opacity: 75%;
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
    /*border: 2px solid red;*/
}
.login_background {
    background-color: #000000;
    opacity: 75%;
    width: auto;
    height: 100%;
    padding: 30px;
    color: black;
}
/*SPACING, MARGINS, PADDING, ALIGNMENT*/
.left_margin {
    margin-left: 50px;
}
.right_margin {
    margin-right: 50px;
}
.center_vertically {
    height: 500px;
    position: relative;
    /*border: 3px solid green;*/
}
.center_button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.footer_styles {
    /*THESE COMMENTED OUT STYLES WILL PUT THE FOOTER INSIDE THE IMAGE TO THE BOTTOM OF THE IMAGE
    position: absolute;
    bottom: 0px;
    left: 0;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

