<!--/*
Team DMRT:  Daniel Garrett, Matthew Fritz, Ruth Woodcock, Trevor McLam
CS 320 Software Engineering, Fall 2019
Final Project: DnD Character Management System, December 13, 2019

SEE CSS FILE FOR OUTSIDE RESOURCES-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    {% if title %}
        <title>DnD Character Creator - {{ title }}</title>
    {% else %}
        <title>DnD Character Creator</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/Images/fontello-2711df08/fontello-2711df08/css/dnd_icons.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/Images/fontello-2711df08/fontello-2711df08/css/dnd_icons-codes.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/Images/fontello-2711df08/fontello-2711df08/css/dnd_icons-embedded.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700&display=swap" rel="stylesheet">

</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="ui {{ message.tags }} message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}
    <!--FOOTER SECTION-->
    <div class="ui container">
        <div class="text_background footer_styles">
            <div class="left_margin right_margin">
                <div class="ui center aligned grid">
                    <div class="sixteen wide column">
                        <p>COPYRIGHT &copy 2019 Team DMRT (Daniel Garrett, Matthew Fritz, Ruth Woodcock, Trevor McLam)<br><br>
                            Wizards of the Coast, Dungeons & Dragons, and their logos are trademarks of Wizards of the Coast
                            LLC in the United States and other countries. © 2015 Wizards. All Rights Reserved.<br><br>
                            This Web site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of
                            the Coast LLC. This Web site may use the trademarks and other intellectual property of Wizards of
                            the Coast LLC, which is permitted under <a href="https://dnd.wizards.com/articles/features/fan-site-kit" target="_blank">
                                Wizards' Fan Site Policy</a>. For example, Dungeons & Dragons® is a trademark[s] of Wizards of
                            the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other
                            intellectual property, please visit their website at (<a href="https://company.wizards.com/" target="_blank">
                                www.wizards.com</a>).<br><br>

                            Team DMRT has made every effort to honor the Fan Site Policy as described in the Wizards
                            Fan Site Policy listed above.  If there are any questions, please contact Ruth Woodcock at
                            <a href="mailto:ruth.woodcock.wsu.edu">ruth.woodcock.wsu.edu</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footerjs %}{% endblock %}
    <script src="{% static 'homepage/scripts.js' %}"></script>
</body>
</html>