{% extends "homepage/base.html" %}
{% block content %}
<div class="image_background2">
        <!--TOP NAVBAR-->
        <div class="ui container">
            <div class="text_background">
                <div class="ui menu">
                    <div class="left_margin">
                        <h1 class="title_font">Dungeons and Dragons Character Creator</h1>
                    </div>
                    <div class="right menu">
                        <div class="large ui buttons">
                            <div class="ui animated button" tabindex="0">
                                <div class="visible content"><i class="home icon"></i></div>
                                <div class="hidden content"><a href="{% url 'index' %}">Home</a></div>
                            </div>
                            <div class="ui animated fade button" tabindex="0">
                                <div class="visible content"><i class="user icon"></i></div>
                                <div class="hidden content"><a href="login/">Login</a></div>
                            </div>
                            <div class="ui vertical animated button" tabindex="0">
                                <div class="visible content"><i class="question icon"></i></div>
                                <div class="hidden content"><a href="{% url 'help' %}">Help</a></div>
                            </div>
                            <div class="ui vertical animated button" tabindex="0">
                                <div class="visible content"><i class="info icon"></i></div>
                                <div class="hidden content"><a href="{% url 'about' %}">About</a></div>
                            </div>
                            <div class="right_margin">
                                <div class="ui vertical animated button" tabindex="0">
                                    <div class="visible content">Wizards of the Coast</div>
                                    <div class="hidden content"><a href="https://dnd.wizards.com/" target="_blank">Official DnD site</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MIDDLE SECTION-->
        <div class="ui container">
            <div class="ui grid" >
                <div class="three column row">
                    <div class="two wide column"></div>
                    <div class="eight wide column">
                        <div class="ui form light"><p class="title_font_dark">Create/Edit Character - step 5</p>
                            <p class="subtitle_font_dark">Character: (Name of character)</p>
                            <p class="dark">Select 2 skills from the choices below for your chosen background.  Honor
                                system applies here.  This is between you and your DM.</p>
                            <div class="fields">
                                <div class="field">
                                    <div class="inline field"><label><p class="dark bigger_font">Acolyte</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I idolize a particular hero of my faith, and constantly
                                                    refer to that person's deeds and example.</div>
                                                <div class="item">I can find common ground between the fiercest enemies,
                                                    empathizing with them and always working toward peace.</div>
                                                <div class="item">I see omens in every event and action.  The gods try to
                                                    speak to us, we just need to listen.</div>
                                                <div class="item">Nothing can shake my optimistic attitude.</div>
                                                <div class="item">I quote (or misquote) sacred texts and proverbs in
                                                    almost every situation.</div>
                                                <div class="item">I am tolerant (or intolerant) of other faiths and respect
                                                    (or condemn) the worship of other gods.</div>
                                                <div class="item">I've enjoyed fine food, drink, and high society among
                                                    my temple's elite.  Rough living grates on me.</div>
                                                <div class="item">I've spent so long in the temple that I have little
                                                    practical experience dealing with people in the outside world.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Charlatan</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">Acolyte</div>
                                                <div class="item">Charlatan</div>
                                                <div class="item">Criminal</div>
                                                <div class="item">Entertainer</div>
                                                <div class="item">Folk Hero</div>
                                                <div class="item">Guild Artisan</div>
                                                <div class="item">Hermit</div>
                                                <div class="item">Noble</div>
                                                <div class="item">Outlander</div>
                                                <div class="item">Sage</div>
                                                <div class="item">Sailor</div>
                                                <div class="item">Soldier</div>
                                                <div class="item">Urchin</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui violet large submit button"><a class="light" href="charDescription.html">Back</a></div>
                                    <div class="ui large yellow submit button"><a class="dark" href="equipment.html">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="four wide column">
                        <div class="ui center aligned grid">
                            <div class="column">
                                <div class="dice_roller">
                                    <p class="subtitle_font_dark">Dice Roller</p>
                                    <div class="ui centered labeled input">
                                        <input style="width: 125px;" type="text" placeholder="number of dice">
                                        <div class="ui label">d</div>
                                        <div class="ui dropdown label">
                                            <div class="text"># sides</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">2</div>
                                                <div class="item">4</div>
                                                <div class="item">6</div>
                                                <div class="item">8</div>
                                                <div class="item">10</div>
                                                <div class="item">12</div>
                                                <div class="item">20</div>
                                                <div class="item">100</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="subtitle_font_dark">Results:</p>
                                        <div class="ui relaxed middle aligned celled list">
                                            <div class="centered item">{{ diceResults|linebreaks }}</div>
                                            <div class="item">{{ diceResults|linebreaks }}</div>
                                            <div class="item">{{ diceResults|linebreaks }}</div>
                                        </div>
                                        <!--CREATES A BULLETED LIST - IS THIS WHAT WE WANT?
                                        <ul>
                                            {% for roll in varDiceRoll %}
                                            <li>
                                                {{ diceResults|linebreaks }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}