{% extends "homepage/base.html" %}
{% block content %}
<div class="image_background4">
        <!--TOP NAVBAR-->
        <div class="ui container">
            <div class="text_background">
                <div class="ui menu">
                    <div class="left_margin">
                        <h1 class="title_font">Dungeons and Dragons Character Creator</h1>
                    </div>
                    <div class="right menu">
                        <div class="large ui buttons">
                            <div class="ui animated button" tabindex="0">
                                <div class="visible content"><i class="home icon"></i></div>
                                <div class="hidden content"><a href="{% url 'index' %}">Home</a></div>
                            </div>
                            <div class="ui animated fade button" tabindex="0">
                                <div class="visible content"><i class="user icon"></i></div>
                                <div class="hidden content"><a href="login/">Login</a></div>
                            </div>
                            <div class="ui vertical animated button" tabindex="0">
                                <div class="visible content"><i class="question icon"></i></div>
                                <div class="hidden content"><a href="{% url 'help' %}">Help</a></div>
                            </div>
                            <div class="ui vertical animated button" tabindex="0">
                                <div class="visible content"><i class="info icon"></i></div>
                                <div class="hidden content"><a href="{% url 'about' %}">About</a></div>
                            </div>
                            <div class="right_margin">
                                <div class="ui vertical animated button" tabindex="0">
                                    <div class="visible content">Wizards of the Coast</div>
                                    <div class="hidden content"><a href="https://dnd.wizards.com/" target="_blank">Official DnD site</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MIDDLE SECTION-->
        <div class="ui container">
            <div class="ui grid" >
                <div class="three column row">
                    <div class="two wide column"></div>
                    <div class="eight wide column">
                        <div class="ui form light">
                            <div class="ui indicating active progress" data-percent="" id="progressBar">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                                    <div class="label">Progress on creating/editing character</div>
                            </div>
                            <p class="title_font dark">Character: (Name of character)</p>
                            <p class="dark">Select 2 skills from the choices below for your chosen background.  Honor
                                system applies here.  This is between you and your DM.</p>
                            <div class="fields">
                                <div class="field">
                                    <div class="inline field"><label><p class="dark bigger_font">Acolyte</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I idolize a particular hero of my faith, and constantly
                                                    refer to that person's deeds and example.</div>
                                                <div class="item">I can find common ground between the fiercest enemies,
                                                    empathizing with them and always working toward peace.</div>
                                                <div class="item">I see omens in every event and action.  The gods try to
                                                    speak to us, we just need to listen.</div>
                                                <div class="item">Nothing can shake my optimistic attitude.</div>
                                                <div class="item">I quote (or misquote) sacred texts and proverbs in
                                                    almost every situation.</div>
                                                <div class="item">I am tolerant (or intolerant) of other faiths and respect
                                                    (or condemn) the worship of other gods.</div>
                                                <div class="item">I've enjoyed fine food, drink, and high society among
                                                    my temple's elite.  Rough living grates on me.</div>
                                                <div class="item">I've spent so long in the temple that I have little
                                                    practical experience dealing with people in the outside world.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Charlatan</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I fall in and out of love easily, and am always pursuing
                                                    someone.</div>
                                                <div class="item">I have a joke for every occasion, especially occasions
                                                    where humor is inappropriate.</div>
                                                <div class="item">Flattery is my preferred trick for getting what I want.</div>
                                                <div class="item">I'm a born gambler who can't resist taking a risk for a
                                                    potential payoff.</div>
                                                <div class="item">I lie about almost everything, even when there's no
                                                    good reason to.</div>
                                                <div class="item">Sarcasm and insults are my weapons of choice.</div>
                                                <div class="item">I keep multiple holy symbols on me and invoke whatever
                                                    deity might come in useful at any given moment.</div>
                                                <div class="item">I pocket anything I see that might have some value.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Criminal</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I always have a plan for what to do when things go wrong.</div>
                                                <div class="item">I am always calm, no matter what the situation.  I never
                                                    raise my voice or let my emotions control me.</div>
                                                <div class="item">The first thing I do in a new place is note the locations
                                                    of everything valuable - or where such things could be hidden.</div>
                                                <div class="item">I would rather make a new friend than a new enemy.</div>
                                                <div class="item">I am incredibly slow to trust.  Those who seem the fairest
                                                    often have the most to hide.</div>
                                                <div class="item">I don't pay attention to the risks in a situation.  Never
                                                    tell me the odds.</div>
                                                <div class="item">The best way to get me to do something is to tell me I
                                                    can't do it.</div>
                                                <div class="item">I blow up at the slightest insult.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Entertainer</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I know a story relevant to almost every situation.</div>
                                                <div class="item">Whenever I come to a new place, I collect local rumors
                                                    and spread gossip.</div>
                                                <div class="item">I'm a hopeless romantic, always searching for that "special
                                                    someone".</div>
                                                <div class="item">Nobody stays angry at me or around me for long, since I
                                                    can defuse any amount of tension.</div>
                                                <div class="item">I love a good insult, even one directed at me.</div>
                                                <div class="item">I get bitter if I'm not the center of attention.</div>
                                                <div class="item">I'll settle for nothing less than perfection.</div>
                                                <div class="item">I change my mood or my mind as quickly as I change as I
                                                    change key in a song.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Folk Hero</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I judge people by their actions, not their words.</div>
                                                <div class="item">If someone is in trouble, I'm always ready to lend help.</div>
                                                <div class="item">When I set my mind to something, I follow through no
                                                    matter what gets in my way.</div>
                                                <div class="item">I have a strong sense of fair play and always try to
                                                    find the most equitable solution to arguments.</div>
                                                <div class="item">I'm confident in my own abilities and do what I can to
                                                    install confidence in others.</div>
                                                <div class="item">Thinking is for other people.  I prefer action.</div>
                                                <div class="item">I misuse long words in an attempt to sound smarter.</div>
                                                <div class="item">I get bored easily.  When am I going to get on with my
                                                    destiny?</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Guild Artisan</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I believe that anything worth doing is worth doing right.
                                                    I can't help it - I'm a perfectionist.</div>
                                                <div class="item">I'm a snob who looks down on those who can't appreciate
                                                    fine art.</div>
                                                <div class="item">I always want to know how things work and what makes
                                                    people tick.</div>
                                                <div class="item">I'm full of witty aphorisms and have a proverb for every
                                                    occasion.</div>
                                                <div class="item">I'm rude to people who lack my commitment to hard work
                                                    and fair play.</div>
                                                <div class="item">I like to talk at length about my profession.</div>
                                                <div class="item">I don't part with my money easily and will haggle tirelessly
                                                     to get the best deal possible.</div>
                                                <div class="item">I'm well known for my work, and I want to make sure everyone
                                                    appreciates it.  I'm always taken aback when people haven't heard of me.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Hermit</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I've been isolated for so long that I rarely speak,
                                                    preferring gestures and the occasional grunt.</div>
                                                <div class="item">I am utterly serene, even in the face of disaster.</div>
                                                <div class="item">The leader of my community had something wise to say on
                                                     every topic, and I am eager to share that wisdom.</div>
                                                <div class="item">I feel tremendous empathy for all who suffer.</div>
                                                <div class="item">I'm oblivious to etiquette and social expectations.</div>
                                                <div class="item">I connect everything that happens to me to a grand, cosmic
                                                     plan.</div>
                                                <div class="item">I often get lost in my own thoughts and contemplation,
                                                    becoming oblivious to my own surroundings.</div>
                                                <div class="item">I am working on a grand philosophical theory and love
                                                     sharing my ideas.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Noble</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">My eloquent flattery makes everyone I talk to feel like
                                                     the most wonderful and important person in the world.</div>
                                                <div class="item">The common folk love me for my kindness and generosity.</div>
                                                <div class="item">No one could doubt by looking at my regal bearing that
                                                    I am a cut above the unwashed masses.</div>
                                                <div class="item">I take great pains to always look my best and follow the
                                                    latest fashions.</div>
                                                <div class="item">I don't like to get my hands dirty, and I won't be
                                                     caught dead in unsuitable accommodations.</div>
                                                <div class="item">I like to talk at length about my profession.</div>
                                                <div class="item">Despite my noble birth, I do not place myself above
                                                    other folk.  We all have the same blood.</div>
                                                <div class="item">If you do me an injury, I will crush you, ruin your name,
                                                     and salt your fields.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Outlander</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I'm driven by a wanderlust that led me away from home.</div>
                                                <div class="item">I watch over my friends as if they were a litter of
                                                     newborn pups.</div>
                                                <div class="item">I once ran twenty-five miles without stopping to warn to
                                                    my clan of an approaching orc horde.  I'd do it again if I had to.</div>
                                                <div class="item">I have a lesson for every situation, drawn from observing
                                                     nature.</div>
                                                <div class="item">I place no stock in wealthy or well-mannered folk.  Money
                                                    and manners won't save you from a hungry owlbear.</div>
                                                <div class="item">I'm always picking things up, absently fiddling with them
                                                    and sometimes accidentally breaking them.</div>
                                                <div class="item">I feel far more comfortable around animals than people.</div>
                                                <div class="item">I was, in fact, raised by wolves.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Sage</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I use polysyllabic words that convey the impression of
                                                    great erudition.</div>
                                                <div class="item">I've read every book in the world's greatest libraries -
                                                    or I like to boast that I have.</div>
                                                <div class="item">I'm used to helping out those who aren't as smart as I am,
                                                    and I patiently explain anything and everything to others.</div>
                                                <div class="item">There's nothing I like more than a good mystery.</div>
                                                <div class="item">I'm willing to listen to every side of an argument before
                                                    I make my own judgement.</div>
                                                <div class="item">I . . . speak . . . slowly . . . when talking . . . to idiots
                                                    . . . which . . . almost . . . everyone . . . is . . . compared . . to me.</div>
                                                <div class="item">I am horribly, horribly awkward in social situations.</div>
                                                <div class="item">I'm convinced that people are always trying to steal my secrets.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Sailor</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">My friends know they can reliy on me, no matter what.</div>
                                                <div class="item">I work hard so that I can play hard when the work is
                                                    done.</div>
                                                <div class="item">I enjoy sailing into new ports and making new friends
                                                    over a flagon of ale.</div>
                                                <div class="item">I stretch the truth for the sake of a good story.</div>
                                                <div class="item">To me, a tavern brawl is a nice way to get to know a new city.</div>
                                                <div class="item">I never pass up a friendly wager.</div>
                                                <div class="item">My language is as foul as an otyugh nest.</div>
                                                <div class="item">I like a job well done, especially if I can convince
                                                    someone else to do it.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Soldier</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I'm always polite and respectful.</div>
                                                <div class="item">I'm haunted by memories of war.  I can't get the images
                                                    of violence out of my mind.</div>
                                                <div class="item">I've lost too many friends, and I'm slow to make new ones.</div>
                                                <div class="item">I'm full of inspiring and cautionary tales from my military
                                                     experience relevant to almost every combat situation.</div>
                                                <div class="item">I can stare down a hell hound without flinching.</div>
                                                <div class="item">I enjoy being strong and like breaking things.</div>
                                                <div class="item">I have a crude sense of humor.</div>
                                                <div class="item">I face problems head-on.  A simple, direct solution is
                                                     the best path to success.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inline field"><label><p class="dark bigger_font">Urchin</p></label>
                                        <div class="ui inline dropdown">
                                            <div class="text"></div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">I hide scraps of food and trinkets away in my pockets.</div>
                                                <div class="item">I ask a lot of questions.</div>
                                                <div class="item">I like to squeeze into small places where no one else
                                                    can get to me.</div>
                                                <div class="item">I sleep with my back to a wall or tree, with everything
                                                    I own wrapped in a bundle in my arms.</div>
                                                <div class="item">I eat like a pig and have bad manners.</div>
                                                <div class="item">I think anyone who's nice to me is hiding evil intent.</div>
                                                <div class="item">I don't like to bathe.</div>
                                                <div class="item">I bluntly say what other people are hinting at or hiding.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui violet large submit button"><a class="light" href="{% url 'charDescription' %}">Back</a></div>
                                    <div class="ui large yellow submit button"><a class="dark" href="{% url 'equipment' %}">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="four wide column">
                        <div class="ui center aligned grid">
                            <div class="column">
                                <div class="dice_roller">
                                    <p class="subtitle_font_dark">Dice Roller</p>
                                    <div class="ui centered labeled input">
                                        <input style="width: 125px;" type="text" placeholder="number of dice">
                                        <div class="ui label">d</div>
                                        <div class="ui dropdown label">
                                            <div class="text"># sides</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item">2</div>
                                                <div class="item">4</div>
                                                <div class="item">6</div>
                                                <div class="item">8</div>
                                                <div class="item">10</div>
                                                <div class="item">12</div>
                                                <div class="item">20</div>
                                                <div class="item">100</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="subtitle_font_dark">Results:</p>
                                        <div class="ui relaxed middle aligned celled list">
                                            <div class="centered item">{{ diceResults|linebreaks }}</div>
                                            <div class="item">{{ diceResults|linebreaks }}</div>
                                            <div class="item">{{ diceResults|linebreaks }}</div>
                                        </div>
                                        <!--CREATES A BULLETED LIST - IS THIS WHAT WE WANT?
                                        <ul>
                                            {% for roll in varDiceRoll %}
                                            <li>
                                                {{ diceResults|linebreaks }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}